*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/ServicesModule/build
connect-gdrive
ServicesModule
ServicesModule/build/
ServicesModule/build/*
/ServicesModule/build/
/ServicesModule/build/*
ScheduleModule
aboutactivitymodule
deploymentTargetDropDown.xml
.idea/deploymentTargetDropDown.xml
/alameda181-core/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/+85ZQJMZLkKgMbG0BS2gPb76OI8=
/alameda181-core/build/*
/alameda181-core/src/main/res
/app/release/app-release.aab
/ScheduleModule/japl-android-schedule-module/
/aboutactivitymodule
/aboutactivitymodule/
/aboutactivitymodule/*
/connect-gdrive
/connect-gdrive/
/japl-android-graphs
/japl-android-graphs/
/ScheduleModule
/ScheduleModule/
/ServicesModule
/ServicesModule/
